# Environments
.env
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Uploaded Files & Demo Payloads
secure_store/
*.ufdr
*.zip
*.bin

# Database Local Volumes (If you accidentally created them in the repo)
postgres_data/
neo4j_data/
qdrant_data/
redis_data/